@color-dark-blue: darkblue;
@color-blue: blue;
@color-orange: #ff5501;
@color-white: white;
@color-gray34: #575757;
@color-blue-tint: #e8e8fc;
@color-red-tint: #ffeded;
@color-red-tint2: #ffcccb;


@import "header_and_footer_color.less";
@import "orange_links.less";
@import "nav_and_footer_links.less";
@import "messages_color.less";
@import "tabs_color.less";