<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="chatter" instance="Vladimirl\Chatter\Observer\CustomerLogIn" />
    </event>
    <event name="layout_render_before">
        <observer name="chatter_layout_render_before" instance="Vladimirl\Chatter\Observer\CheckStatusMessage" />
    </event>
</config>
