<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="vladimrl_chatter_controller" frontName="vladimrl-chatter-controller">
            <module name="Vladimirl_Chatter" />
        </route>
    </router>
</config>