& when (@media-common = true) {
    .vladimirl-chatter-open-button {
        font-size: 65px;
        position: fixed;
        bottom: 60px;
        right: -70px;
        z-index: 99999;
        color: @color-orange-red4;
        transition-property: right;
        transition-duration: .3s;

        .icon-chat {
            .lib-icon-font(
                @_icon-font-content: @icon-comment
            );
        }

        &:hover {
            text-decoration: @link__text-decoration;
            color: #02b566;
        }

        &.active {
            right: 20px;
        }
    }

    #vladimirl-chatter-form-chatter {
        min-height: 400px;
        width: 280px;
        padding: 10px;
        background-color: @color-gray82;
        border: 1px solid @color-gray60;
        border-radius: 8px;
        position: fixed;
        bottom: -450px;
        right: 10px;
        z-index: 99999;
        transition-property: bottom;
        transition-duration: .5s;

        #messages-list, #message-input {
            background-color: @color-white;
            border: 1px solid @color-gray60;
        }

        #messages-list {
            width: 258px;
            padding: 10px;
            height: 290px;
            border-radius: 8px 8px 0px 0px;
            overflow-y: auto;
            word-wrap: break-word;

            ul {
                background-color: #d6ffd8;
                padding: 4px;
                border-radius: 5px;
                margin: 5px 3px 0 3px;

                li {
                    width: 49%;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;

                    p {
                        margin: 0;
                        padding: 0;
                        color: indianred;
                        text-align: center;
                    }

                    i {
                        font-size: 10px;
                        color: @color-gray60;
                    }
                }
            }

            ul :last-child {
                width: 100%;
            }
        }

        #message-input {
            width: 100%;
            height: 50px;
            margin-bottom: 5px;
            resize: none;
            border-radius: 0px 0px 8px 8px;
        }

        button {
            border-radius: 5px;
            margin: auto;
        }

        #close-chatter-button {
            float: right;
        }

        &.active {
            bottom: 20px;
        }
    }
}